<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.kh.spring.model.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="kr.kh.spring.model.vo.GroupVO" alias="GroupVO"/>
		<typeAlias type="kr.kh.spring.model.vo.DietVO" alias="DietVO"/>
		<typeAlias type="kr.kh.spring.model.vo.InbodyVO" alias="InbodyVO"/>
		<typeAlias type="kr.kh.spring.model.vo.WorkoutVO" alias="WorkoutVO"/>
		<typeAlias type="kr.kh.spring.model.vo.Group_MemberVO" alias="Group_MemberVO"/>
		<typeAlias type="kr.kh.spring.model.vo.RuleVO" alias="RuleVO"/>
		<typeAlias type="kr.kh.spring.model.vo.Share_RecordVO" alias="Share_RecordVO"/>
		<typeAlias type="kr.kh.spring.model.vo.MajorCateVO" alias="MajorCateVO"/>
	</typeAliases>
</configuration>