<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.GroupDAO">

<resultMap type="Group_MemberVO" id="GroupMemberMap">
	<result property="gm_gr_num" column="gm_gr_num"/>
  	<result property="gm_me_id" column="gm_me_id"/>
</resultMap>

<resultMap type="Share_RecordVO" id="ShareRecordMap">
	<result property="sr_rc_num" column="sr_rc_num"/>
	<result property="sr_gr_num" column="sr_gr_num"/>
</resultMap>

	<select id="countByGroupCode" resultType="int">
		select count(*) from `group` where gr_code=#{code}
	</select>
	
	<select id="selectGroupList" resultType="GroupVO">
		select
			*
		from `group`
		where gr_public="Y" and gr_del="N"
		order by gr_num desc
		
	</select>
	
	<select id="selectMajorCateList" resultType="MajorCateVO">
		select * from `major_cate`
		order by mc_num 
	</select>
	
	<select id="selectSRList" resultMap="ShareRecordMap">
		select * from `share_record` where sr_gr_num=#{gr_num}
	</select>
	
	<insert id="insertGroup" useGeneratedKeys="true" keyProperty="group.gr_num">
		insert into `group`
			(gr_name, gr_code, gr_pw, gr_introduction, gr_me_id
			, gr_start_date, gr_period,  gr_participant
			, gr_personnel, gr_public) 
		value
			(#{group.gr_name},#{group.gr_code} ,#{group.gr_pw} ,#{group.gr_introduction},#{group.gr_me_id}
			,#{group.gr_start_date},#{group.gr_period}, 1
			,#{group.gr_personnel},#{group.gr_public})			
	</insert>
	
	<insert id="insertRule" useGeneratedKeys="true" keyProperty="group.rl_num">
		insert into rule(rl_rule,rl_gr_num)
		value(#{group.rl_rule},#{group.gr_num})
	</insert>
	
	<insert id="GroupMember"  useGeneratedKeys="true" keyProperty="gmVO.gm_num" >
		insert into `group_member`(gm_me_id,gm_gr_num) 
		value(#{gmVO.gm_me_id}, #{gmVO.gm_gr_num})
	</insert>
	
	<select id="selectGroup" resultType="GroupVO">
		select
			*
		from `group`
		where gr_num =#{gr_num} and gr_del="N"
	</select>
	
	<select id="selectRule" resultType="GroupVO">
		select * from rule where rl_gr_num = #{gr_num}
	</select>
	
	<select id="getAllRuleList" resultType="RuleVO">
		select * from rule
		join `group` on gr_num=rl_gr_num
	</select>
	
	<select id="selectRuleList" resultType="RuleVO">
		select * from rule
		join `group` on gr_num=rl_gr_num
		where rl_gr_num = #{gr_num}
	</select>
	
	<update id="deleteGroup">
		update 
			`group`
		set
			gr_del = "Y",
			gr_public = "N",
			gr_pw = null,
			gr_code = null,
			gr_introduction = null,
			gr_start_date = null,
			gr_period = null,
			gr_personnel = null,
			gr_participant = null,
			gr_me_id = null
		where
			gr_num=#{gr_num}
	</update>
	
	<update id="updateGroup">
		update `group`
		set
			gr_name = #{group.gr_name}, 
			gr_pw = #{group.gr_pw}, 
			gr_introduction = #{group.gr_introduction}, 
			gr_start_date = #{group.gr_start_date}, 
			gr_period = #{group.gr_period},
			gr_personnel = #{group.gr_personnel}, 
			gr_public = #{group.gr_public}
		where
			gr_num = #{group.gr_num}
	</update>
  
  	<select id="selectMemberList" resultMap="GroupMemberMap">
  		select * from `group_member`
  		join `group` on gm_gr_num = gr_num
  		join `member` on gm_me_id = me_id
  		where gm_gr_num=#{gr_num}
  	</select>
  	
  	<insert id="insertRule1" useGeneratedKeys="true" keyProperty="dbrule.rl_num">
  		insert into rule(rl_rule,rl_gr_num)
		value(#{dbrule.rl_rule},#{gr_num})
  	</insert>
  	
  	<update id="updateRule1">
  		update `rule`
		set
			rl_rule=#{dbrule.rl_rule}
		where
			rl_gr_num = #{rl_gr_num}
  	</update>
  	
  	<select id="isMemberInGroup" resultType="boolean">
  		select count(*) from `group_member`
  		where gm_gr_num = #{gr_num} and gm_me_id=#{me_id}
  	</select>
  	
  	<insert id="insertGroupMember" useGeneratedKeys="true" keyProperty="gm.rl_num">
  		insert into `group_member`(gm_me_id,gm_gr_num)
  		value(#{gm.gm_me_id},#{gm.gm_gr_num})
  	</insert>
  	
  	
  	<update id="updateParticipant">
  		update `group`
  		set gr_participant = gr_participant+1
  		where gr_num=#{gr_num}
  			
  	</update>
</mapper>
