<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.PlanDAO">
	<insert id="insertPlan" useGeneratedKeys="true" keyProperty="post.pl_num">
		insert into plan (pl_title, pl_period, pl_me_id, pl_mc_num)
		values (#{post.pl_title}, #{post.pl_period}, #{post.pl_me_id}, #{post.pl_mc_num})
	</insert>
	
</mapper>
