<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.RecordDAO">

  <select id="selectDietList" resultType="DietVO">
  	select * from diet where di_date = curdate()
  </select>
  <select id="selectInbodyList" resultType="InbodyVO">
  	select * from inbody
  </select>
  <select id="selectWorkoutList" resultType="WorkoutVO">
  	select * from workout
  </select>
  <insert id="insertDietPost">
  	insert into diet
  	(di_name, di_date, di_score, di_ampm, di_time, di_me_id)
  	value
  	(#{diet.di_name}, #{diet.di_date}, #{diet.di_score}, #{diet.di_ampm}, #{diet.di_time}, #{diet.di_me_id})
  </insert>
</mapper>
