<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.RecordDAO">
  <select id="selectDietList" resultType="DietVO">
  	select * from diet
  </select>
  
  <select id="selectInbodyList" resultType="InbodyVO">
  	select * from inbody
  </select>
  
  <select id="selectWorkoutList" resultType="WorkoutVO">
  	select * from workout
  </select>
  
  <insert id="insertDietPost">
  	insert into diet(di_Name, di_Date, di_AmPm, di_Time, di_Me_Id)
  	value(#{diet.di_Name}, #{diet.di_Date}, #{diet.di_AmPm}, #{diet.di_Time}, #{diet.di_Me_Id})
  </insert>
</mapper>
